#slideshow-image {
    height: 700px;
}

#bg-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    margin: auto;
    font-size: 30em;
    z-index: -1;
}

body {
    text-align: center;
    vertical-align: middle;
}